/*
 * Globals
 */

/* Links */
a,
a:focus,
a:hover {
  color: #fff;
}

/* Custom default button */
.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritance from `body` */
  background-color: #fff;
  border: .05rem solid #fff;
}


/*
 * Base structure
 */

html,
body {
  height: 100%;
  background-color: #fff;
}
body {
  color: #000;
}

h2 {
  padding-top: 100px;
  padding-bottom: 25px;
}

.text-vertical-center {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

/*
 * Nav
 */
.navbar.navbar-toggleable-sm.navbar-inverse {
  position: absolute;
  width: 100%;
  background: transparent;
  z-index: 1000;
}

/* Hide border on menu bars */
.navbar-inverse .navbar-toggler {
  border-color: transparent;
}

/* Move mobile menu bars right side of screen */
button.navbar-toggler {
  position: absolute;
  right: 0;
}


/*
 * Header
 */

header {
  display: table;
  position: relative;
  width: 100%;
  height: 100%; /* For at least Firefox */
  background: url(../img/restuarant-bg.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  color: white;
}


header p {
  color: white;
}

/*
 * About
 */
.about {
  padding-bottom: 50px;
}

/*
 * Menu
 */
.menu {
  background-color: #FFC107;
  padding-bottom: 50px;
}



/*
 * Footer
 */
footer a {
  color: #489fdf;
}

footer a:hover {
  color: orange;
}
